.game-container {
  width: 500px;
  height: 600px;
  background-color: #000;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.player {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
