.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

.title {
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}

.startButton {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
  cursor: pointer;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: #4fa8c7;
}
